################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Data-Analyst-Sakshi-Agrawal/CopilotIndices/18.3.502.33069
/.vs
